absl-py
asgiref
attrs
autobahn
Automat
cffi
channels
constantly
contourpy
cryptography
cvzone
cycler
daphne
Django
flatbuffers
fonttools
hyperlink
idna
incremental
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
protobuf
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
pyparsing
python-dateutil
scipy
sentencepiece
service-identity
six
sounddevice
sqlparse
tomli
Twisted
txaio
typing_extensions
whitenoise
zope.interface
